<h1 style="text-align: center">Welcome to BlackJack</h1>
   <br />
<br />
<h5>
    There are many variations of BlackJack, so please read the following:  Aces can be worth 1 or 11, face cards are
    worth 10, all other cards are worth their value.  When it is your turn, decide if you want a hit (another card) or if you want
    to stay.  The object is to get as close to 21 without going over. If you go over, you lose.  Assuming neither player goes
    over 21, the player with the highest points wins.  The computer will stay on 17 or more and hit on 16 or less. <br>
    <br />
    Make sure to Register/Sign in to begin playing!<br /><br />
    Click the button to start a game.
    </h5>

    <input type="button" value="Start Game!" onclick="location.href='/BlackJack/BJNewGame'" />
    <img src="~/Images/blackjack.png" style="position:absolute; right:300px; bottom:250px; width:500px"/>
