@model Cardgames.Models.Match

    <style>
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }
    </style>

    <h1 style="text-align: center"> Match Results</h1>

    <h2>@Model.Message</h2>
    <br />
    <div class="row">
        <div class="column">
            <h3> Your cards are:</h3>
            @foreach (var c in Model.Player1.CardList)
            {
                <img src=@c.Image style="width:100px" />

            }
            <br />
            <h3>Your Total: @Model.Player1.HandSum</h3>
            <br />
        </div>
        <div class="column">
            <h3>Computer's cards are:</h3>
            @foreach (var c in Model.Player2.CardList)
            {
                <img src=@c.Image style="width:100px" />

            }
            <br />
            <h3>Computer's Total: @Model.Player2.HandSum</h3>
            <br />
        </div>
    </div>
    <h3>Play Again: <input type="button" value="Go" onclick="location.href='/BlackJack/BJNewGame'" /></h3>
    <br />
    <h3> View your statistics: <input type="button" value="View" onclick="location.href='/Home/Statistics'" /></h3>
    <br />


    <br />
    <input type="button" value="Return to Main Menu" onclick="location.href='/Home/Index'" />
