@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
</style>

<h1 style="text-align:center"> Welcome to Card Games Galore!</h1>
<br />
<br />
<h2> Check out our current card games, they are simple and fun! <br />
    Login/Register to keep track of your record!</h2><br />
<h4>1. <a href='/GoFish/Index'>Go Fish</a></h4>
<h4>2. <a href='/War/Index'>War</a></h4>
<br />
<img src="~/Images/people.jpg" style="width:300px"/>

