@model Cardgames.Models.Match

@if(Model.Message != null)
{
    <h3>@Model.Message</h3>
}
<h3>Choose a card to ask the computer for:</h3>
@foreach (var c in Model.Player1.CardList)
{
    <a href="/GoFish/CardPick?value=@c.Value"><img src=@c.Image style="width:100px"></a>
}
<br />
<h3>Number of Cards Left in Computer's Hand: @Model.Player2.CardList.Count()</h3>
<br />

<h3>Cards in your pile</h3>
@if (Model.Player1.Pile.Count() > 0)
{
@foreach (var c in Model.Player1.Pile)
{
    <img src=@c.Image style="width:100px" />
}
}
<br />
<h3> Cards in computer's pile</h3>
@if (Model.Player2.Pile.Count() > 0)
{
@foreach (var c in Model.Player2.Pile)
{
    <img src=@c.Image  style="width:100px"/>
}
}