

<h1 style="text-align:center">Your Go Fish Record</h1>
<br />
<br />
<h3>Total Wins: @ViewBag.Wins</h3>
<h3>Total Losses: @ViewBag.Losses</h3>
<h3>Total Ties: @ViewBag.Ties</h3>

<br />
<br />
<h2>Play Again: <input type="button" value="Go" onclick="location.href='/GoFish/NewGame'" /></h2>
<br />
<input type="button" value="Return to Main Menu" onclick="location.href='/Home/Index'" />
<img src="~/Images/win.jpg" style="position:absolute; right:400px; top:150px; width:400px"/>