<h1 style="text-align:center; color:red">Welcome to War!</h1>
<br />
<br />

<h5>
    The rules are simple.  When it is your turn, click on the button to flip a card.  If your card is higher than the computer's card then you
    win and the cards are added to bottom of your deck. If your card is lower than the computer's card then the computer wins and gets the cards. 
    If there is a tie, then you go to War!!!  During a war, you have one middle card that is face down and then you turn over a new card.  Whoever's new 
    card is the highest wins all of the cards involved. The game ends when one player loses and runs out of cards.
    <br /><br />
    Make sure to Register/Sign in to begin playing!<br /><br />
    Click on the button to begin the game:<br /><br />
    <input type="button" value="Start Game!" onclick="location.href='/War/WarNewGame'" />
</h5>
